.labelsSection {
  display: flex;
  flex-direction: column;
  gap: 16px;

  @include on-desktop {
    gap: 24px;
  }
}

.formTitle {
  color: $text-dark-color;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.2;

  @include on-desktop {
    font-size: 18px;
  }
}

.labelsList {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
