.main_product_info_wrapper {
  display: flex;

  flex-direction: column;
  gap: 24px;

  @media screen and (min-width: 744px) {
  }

  @media screen and (min-width: 1920px) {
    flex-direction: row;
    gap: 48px;
  }
}

.product__header {
  display: flex;
  flex-direction: column;
  gap: 24px;

  @media screen and (min-width: 1920px) {
    gap: 36px;
  }
}

.base_info__wrapper {
  display: flex;
  flex-direction: column;
  gap: 12px;

  @media screen and (min-width: 1920px) {
    gap: 16px;
  }
}

.product_page_title {
  color: #011240;

  font-size: 20px;
  font-weight: 600;
  line-height: 28px;

  @media screen and (min-width: 1920px) {
    font-size: 28px;
    line-height: 40px;
  }
}

.product_code {
  color: #b0b0b0;

  font-size: 16px;
  font-weight: 500;
  line-height: 14px;
  text-align: left;

  @media screen and (min-width: 1920px) {
    font-size: 18px;
    line-height: 16px;
  }
}

.in_stock__wrapper {
  display: flex;
  gap: 6px;
  align-items: center;
}

.stock__icon {
  width: 24px;
  height: 24px;
  stroke: #34955d;
}

.to_wish__icon {
  width: 24px;
  height: 24px;
  stroke: #5d5d5d;
}

.is_available {
  color: #34955d;

  font-size: 16px;
  font-weight: 500;
  line-height: 14px;

  @media screen and (min-width: 1920px) {
    font-size: 18px;
    font-weight: 500;
    line-height: 16px;
  }
}

.price__wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.product_page__price {
  color: #262626;

  font-size: 28px;
  font-weight: 700;
  line-height: 28px;

  @media screen and (min-width: 1920px) {
    font-size: 36px;
    font-weight: 700;
    line-height: 36px;
  }
}

.product_page__price_symbol {
  font-size: 18px;
  line-height: 18px;

  @media screen and (min-width: 1920px) {
    font-size: 24px;
    line-height: 24px;
  }
}

.add__button {
  font-size: 16px;
  font-weight: 500;
  line-height: 12px;

  padding: 8px 16px;

  @media screen and (min-width: 1920px) {
    font-size: 18px;
    font-weight: 500;
    line-height: 12px;
    padding: 15px 24px;
  }

  border: none;

  border-radius: 100px;

  display: flex;
  align-items: center;
  gap: 8px;

  cursor: pointer;
}

.add__button_wrapper {
  display: flex;
  gap: 8px;
}

.to_cart__button {
  background-color: #34955d;
  color: #ffffff;
}

.to_cart__icon {
  width: 24px;
  height: 24px;
  stroke: #ffffff;
}

.to_wish__button {
  background-color: #e7e7e7;
  color: #5d5d5d;
}

.about_product_wrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.product_page__sub_title {
  color: #262626;

  font-size: 18px;
  font-weight: 500;
  line-height: 16px;

  @media screen and (min-width: 1920px) {
    font-size: 22px;
    font-weight: 500;
    line-height: 20px;
  }
}

.read_more_link {
  color: #888888;

  text-decoration: underline;

  font-size: 15px;
  font-weight: 500;
  line-height: 18px;
}

.description__text {
  color: #454545;

  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}

.priceWrapper {
  display: flex;
  align-items: center;
  gap: 8px;
}

.productDiscountPrice {
  color: #b0b0b0;
  text-decoration: line-through;

  font-size: 18px;
  font-weight: 500;
  line-height: 18px;

  @media screen and (min-width: 1920px) {
    font-size: 20px;
    line-height: 20px;
  }
}
