.mainProductInfoWrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;

  @include on-desktop {
    flex-direction: row;
    gap: 48px;
  }
}

.productHeader {
  display: flex;
  flex-direction: column;
  gap: 24px;

  @include on-desktop {
    gap: 36px;
  }
}

.baseInfoWrapper {
  display: flex;
  flex-direction: column;
  gap: 12px;

  @include on-desktop {
    gap: 16px;
  }
}

.productPageTitle {
  color: $dark-blue-color;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.4;

  @include on-desktop {
    font-size: 28px;
  }
}

.productCode {
  color: $disabled-icon-color;
  font-size: 16px;
  font-weight: 500;
  line-height: 0.88;

  @include on-desktop {
    font-size: 18px;
  }
}

.inStockWrapper {
  display: flex;
  gap: 6px;
  align-items: center;
}

.stockIcon,
.toWishIcon {
  width: 24px;
  height: 24px;
  stroke: $light-green-color;
}

.toWishIcon {
  stroke: $icon-grey-color;
  fill: $icon-grey-color;
}

.isAvailable {
  color: $light-green-color;
  font-size: 16px;
  font-weight: 500;
  line-height: 0.88;

  @include on-desktop {
    font-size: 18px;
  }
}

.priceWrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.productPagePrice {
  color: $dark-color;
  font-size: 28px;
  font-weight: 700;
  line-height: 1;

  @include on-desktop {
    font-size: 36px;
  }
}

.productPagePriceSymbol {
  font-size: 18px;
  line-height: 1;

  @include on-desktop {
    font-size: 24px;
  }
}

.addButton {
  font-size: 16px;
  font-weight: 500;
  line-height: 0.75;
  padding: 8px 16px;
  border: none;
  border-radius: 100px;
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;

  @include on-desktop {
    font-size: 18px;
    padding: 15px 24px;
  }
}

.addButtonWrapper {
  display: flex;
  gap: 8px;
}

.toCartButton {
  background-color: $light-green-color;
  color: $white-color;
  width: 233px;
  height: 54px;
}

.toCartIcon {
  width: 24px;
  height: 24px;
  stroke: $white-color;
}

.toWishButton {
  background-color: $light-border-color;
  color: $icon-grey-color;
}

.aboutProductWrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;

  @include on-desktop {
    width: 640px;
  }
}

.productPageSubTitle {
  color: $text-dark-color;
  font-size: 18px;
  font-weight: 500;
  line-height: 0.88;

  @include on-desktop {
    font-size: 22px;
  }
}

.readMoreLink {
  position: relative;
  display: inline-block;
  max-width: fit-content;
  color: $light-grey-color;
  font-size: 15px;
  font-weight: 500;
  line-height: 18px;

  &::after {
    position: absolute;
    display: block;
    content: "";
    width: 100%;
    height: 2px;
    background-color: $light-grey-color;
    left: 0;
    bottom: 0;
  }
}

.descriptionText {
  color: $descr-grey-color;
  font-size: 16px;
  line-height: 1.5;
}

.priceBox {
  display: flex;
  align-items: center;
  gap: 8px;
}

.productDiscountPrice {
  color: $disabled-icon-color;
  text-decoration: line-through;
  font-size: 18px;
  font-weight: 500;
  line-height: 1;

  @include on-desktop {
    font-size: 20px;
  }
}
