.main_product_info_wrapper {
  display: flex;
  gap: 48px;
}

.product__header {
  display: flex;
  flex-direction: column;
  gap: 36px;
}

.base_info__wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.product_page_title {
  font-size: 28px;
  font-weight: 600;
  line-height: 40px;
  color: #011240;
}

.product_code {
  font-size: 18px;
  font-weight: 500;
  line-height: 16px;
  color: #b0b0b0;
}

.in_stock__wrapper {
  display: flex;
  gap: 6px;
  align-items: center;
}

.stock__icon {
  width: 24px;
  height: 24px;
  stroke: #34955d;
}

.to_wish__icon {
  width: 24px;
  height: 24px;
  stroke: #5d5d5d;
}

.is_available {
  font-size: 18px;
  font-weight: 500;
  line-height: 16px;
  color: #34955d;
}

.price__wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.product_page__price {
  font-size: 36px;
  font-weight: 700;
  line-height: 36px;

  color: #262626;
}

.product_page__price_symbol {
  font-size: 24px;
  line-height: 24px;
}

.add__button {
  padding: 15px 24px;

  font-size: 18px;
  font-weight: 500;
  line-height: 12px;

  border: none;

  border-radius: 100px;

  display: flex;
  align-items: center;
  gap: 8px;

  cursor: pointer;
}

.add__button_wrapper {
  display: flex;
  gap: 8px;
}

.to_cart__button {
  background-color: #34955d;
  color: #ffffff;
}

.to_cart__icon {
  width: 24px;
  height: 24px;
  stroke: #ffffff;
}

.to_wish__button {
  background-color: #e7e7e7;
  color: #5d5d5d;
}

.about_product_wrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 640px;
}

.product_page__sub_title {
  font-size: 22px;
  font-weight: 500;
  line-height: 20px;
  color: #262626;
}

.read_more_link {
  font-size: 15px;
  font-weight: 500;
  line-height: 18px;
  color: #888888;

  text-decoration: underline;
}

.description__text {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #454545;
}
