// @import "../../scss/index.scss";

.product_page__wrapper {
  display: flex;
  flex-direction: column;

  overflow: hidden;
  gap: 48px;

  @media screen and (min-width: 1920px) {
    gap: 64px;
  }
}

.main__image_wrapper {
  width: 516px;
  height: 516px;

  background-color: #f0c5c5;
  border: 1.5px solid #e7e7e7;
  border-radius: 20px;
}

.productPageContainer {
  display: flex;
  gap: 24px;
}
