.productPageBox {
  background-color: $white-color;

  @include on-desktop {
    background-color: transparent;
  }
}

.productPageContainer {
  @include on-desktop {
    display: flex;
    gap: 24px;
  }
}

.productPageWrapper {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  gap: 48px;

  @include on-desktop {
    gap: 64px;
  }
}

.sidebar {
  display: none;

  @include on-desktop {
    display: inline-block;
  }
}

.routes {
  display: none;

  @include on-desktop {
    display: inline-block;
  }
}

.contentBox {
  @include on-desktop {
    max-width: 100%;
    overflow: hidden;
  }
}

.iconBack {
  stroke: $text-dark-color;
  transform: rotate(90deg);
  width: 24px;
  height: 24px;
}

.textBack {
  color: $text-dark-color;
  font-size: 18px;
  font-weight: 500;
  line-height: 0.67;

  @include on-tablet {
    font-size: 16px;
  }
}

.linkBack {
  display: flex;
  gap: 8px;
  align-items: center;
  padding: 12px 8px 12px 0;

  @include on-desktop {
    display: none;
  }
}

.loaderWrapper {
  width: 100%;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
