@import "../../scss/index.scss";

.product_page__wrapper {
  display: flex;
  flex-direction: column;
  gap: 64px;
}

.product__nav_buttons_list {
  display: flex;
  gap: 12px;
}

.main__image_wrapper {
  width: 516px;
  height: 516px;

  background-color: #f0c5c5;
  border: 1.5px solid #e7e7e7;
  border-radius: 20px;
}
