.product_page__sub_title {
  color: $text-dark-color;
  font-size: 18px;
  font-weight: 500;
  line-height: 0.88;

  @include on-desktop {
    font-size: 22px;
  }
}

.characteristicWrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;

  @include on-desktop {
    width: 640px;
  }
}
