.product_page__sub_title {
  color: #262626;

  font-size: 18px;
  font-weight: 500;
  line-height: 16px;

  @media screen and (min-width: 1920px) {
    font-size: 22px;
    font-weight: 500;
    line-height: 20px;
  }
}

.characteristicWrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
