.orderSection {
  padding-top: 0;
  padding-bottom: 100px;
}

.orderTitle {
  font-size: 24px;
  font-weight: 600;
  line-height: 0.84;
  color: $dark-color;
}

.orderSubTitle {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  color: $dark-color;
  margin-bottom: 24px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.contactInfoList {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
}

.contactInfoLabel {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-weight: 500;
  line-height: 1.2;
  color: $dark-color;
}

.contactInfoInput {
  padding: 22.5px 16px;
  border: 1.6px solid $grey-border-color;
  outline: none;
  border-radius: 10px;

  &::placeholder {
    font-weight: 500;
    line-height: 1.2;
    color: $light-grey-color;
  }
}

.orderContainer {
  display: flex;
  gap: 24px;
}

.formWrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.orderInfoWrapper {
  background-color: $white-color;
  display: flex;
  flex-direction: column;
  gap: 24px;
  border: 1.5px solid $light-border-color;
  border-radius: 15px;
  width: 438px;
  height: fit-content;
  padding: 32px 16px;
  margin-top: 24px;
}

.priceItem {
  display: flex;
  justify-content: space-between;
}

.totalPrice {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  color: $dark-color;
}

.totalPriceNumber {
  font-weight: 600;
}

.partPrice {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.2;
  color: $light-grey-color;
}

.priceList {
  display: flex;
  flex-direction: column;
  gap: 11px;
  padding: 0 24px;
}

.iconBack {
  width: 24px;
  height: 24px;
  stroke: $dark-color;
  transform: rotate(90deg);
}

.titleWrapper {
  display: flex;
  gap: 8px;
  align-items: center;
  padding: 24px 0;
  margin-bottom: 48px;
}

.checkbox {
  display: flex;
  align-items: center;
  gap: 8px;
  letter-spacing: 0.01em;
  color: $label-text-color;
}

.checkboxInput {
  width: 20px;
  height: 20px;
  color: $label-text-color;
}

.payment {
  display: flex;
  flex-direction: column;
}

.paymentTitle {
  color: $light-grey-color;
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: 12px;
}

.paymentLabel {
  display: flex;
  gap: 12px;
  width: 100%;
  height: 64px;
  background-color: $dropdown-bcg-color;
  padding: 24px 16px;
  border-radius: 10px;

  &:first-of-type {
    margin-bottom: 18px;
  }
}

.paymentRadio {
  width: 16px;
  height: 16px;
}