.orderSection {
  background-color: $white-color;
  padding-top: 0;
  padding-bottom: 16px;

  @include on-desktop {
    padding-bottom: 100px;
    background-color: transparent;
  }
}

.orderContainer {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin: 0 auto;
  border-top: 1px solid $light-border-color;
  padding: 0 8px;
  max-width: $mobile-max-width;

  @include on-tablet {
    max-width: $tablet-max-width;
  }

  @include on-desktop {
    flex-direction: row;
    gap: 24px;
    padding: 0 48px;
    max-width: $desktop-max-width;
    border: none;
  }
}

.formWrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.titleWrapper {
  display: flex;
  gap: 8px;
  align-items: center;
  padding: 16px 0;
  border-bottom: 1px solid $light-border-color;
  margin: 0 -8px;

  @include on-desktop {
    padding: 24px 0;
    border: none;
    margin: 0 0 48px;
  }
}

.linkBack {
  display: flex;
  align-items: center;
  justify-content: center;
}

.iconBack {
  width: 24px;
  height: 24px;
  stroke: $dark-color;
  transform: rotate(90deg);
}

.orderTitle {
  padding: 12px 8px;
  font-size: 20px;
  font-weight: 500;
  line-height: 12px;
  color: $text-dark-color;


  @include on-desktop {
    font-size: 24px;
    font-weight: 600;
    line-height: 0.84;
    color: $dark-color;
  }
}

.orderSubTitle {
  padding-top: 16px;
  margin-bottom: 32px;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.01em;

  @include on-desktop {
    font-size: 20px;
    color: $dark-color;
    margin-bottom: 24px;
    padding-top: 0;
  }
}

.form {
  display: flex;
  flex-direction: column;
  gap: 32px;

  @include on-desktop {
    gap: 48px;
  }
}

.orderInfoWrapper {
  background-color: $white-color;
  display: flex;
  flex-direction: column;
  gap: 24px;
  border: 1.5px solid $light-border-color;
  border-radius: 15px;
  width: 100%;
  height: fit-content;
  padding: 16px;

  @include on-desktop {
    width: 438px;
    padding: 32px 16px;
    margin-top: 24px;
  }
}

.priceItem {
  display: flex;
  justify-content: space-between;
}

.totalPrice {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  color: $dark-color;
}

.totalPriceNumber {
  font-weight: 600;
}

.partPrice {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.2;
  color: $light-grey-color;
}

.priceList {
  display: flex;
  flex-direction: column;
  gap: 11px;

  @include on-desktop {
    padding: 0 24px;
  }
}

.checkbox {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 15px;
  letter-spacing: 0.01em;
  color: $label-text-color;

  @include on-desktop {
    font-size: 16px;
  }
}

.checkboxInput {
  width: 20px;
  height: 20px;
  color: $label-text-color;
}

.orderInfoCart {
  display: flex;
  justify-content: space-between;

  @include on-desktop {
    display: none;
  }
}

.cartTitle {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.2;
  color: $text-dark-color;
}

.goToCart {
  position: relative;
  color: $icon-grey-color;
  font-size: 15px;
  line-height: 1.2;

  &::after {
    position: absolute;
    content: '';
    width: 100%;
    background-color: $icon-grey-color;
    height: 1px;
    bottom: 3px;
    left: 0;
  }
}