.swiper__weight_item {
  padding: 7px 8px;
  border: 1.5px solid #b0b0b0;
  border-radius: 100px;

  @media screen and (min-width: 1920px) {
    padding: 10px 12px;
  }
}

.swiper__weight_item__able {
  border-color: #34955d;
}

.swiper__weight_text {
  color: #5d5d5d;

  font-size: 14px;
  font-weight: 500;
  line-height: 10px;

  @media screen and (min-width: 1920px) {
    font-size: 16px;
    font-weight: 500;
    line-height: 12px;
  }
}
