@import "../../../scss/common";

.swiper__weight_item {
  padding: 7px 8px;
  border: 1.5px solid #b0b0b0;
  border-radius: 100px;
  text-align: center;

  @include on-desktop {
    padding: 10px 12px;
  }
}

.swiper__weight_item__able {
  border-color: $light-green-color;
}

.swiper__weight_text {
  color: $icon-grey-color;
  font-size: 14px;
  font-weight: 500;
  line-height: 0.72;

  @include on-desktop {
    font-size: 16px;
    font-weight: 500;
    line-height: 0.75;
  }
}
