.button {
  background-color: $light-green-color;
  color: $white-color;
  border: none;
  border-radius: 10px;
  width: 100%;
  padding: 18px;
  font-size: 16px;
  font-weight: 500;
  line-height: 0.67;
  cursor: pointer;

  @include on-tablet {
    font-size: 18px;
    padding: 26px;
  }

  transition: background-color ease-in-out 200ms;

  &:hover {
    background-color: $hover-green-color;
  }

  &:active {
    background-color: $active-green-color;
  }

  &:disabled {
    background-color: $light-border-color;
    color: $icon-grey-color;
    cursor: default;
  }
}

.smallButton {
  font-size: 16px;
  font-weight: 600;
  line-height: 0.75;
  margin: 0;

  @include on-desktop {
    padding: 18px;
  }
}
