.button {
  background-color: #34955d;
  color: #ffffff;
  font-size: 18px;
  font-weight: 500;
  line-height: 12px;
  border: none;
  padding: 26px;
  border-radius: 10px;
  margin-bottom: 24px;
  width: 100%;

  cursor: pointer;

  transition: background-color ease-in-out 200ms;

  &:hover {
    background-color: #247749;
  }

  &:active {
    background-color: #1d5f3c;
  }
}

.smallButton {
  font-size: 16px;
  font-weight: 600;
  padding: 18px;

  margin: 0;
}
