.button {
  background-color: #34955d;
  color: #ffffff;

  border: none;

  border-radius: 10px;
  width: 100%;
  padding: 18px;

  font-size: 16px;
  font-weight: 500;
  line-height: 12px;

  @media screen and (min-width: 744px) {
    font-size: 18px;

    padding: 26px;
  }

  cursor: pointer;

  transition: background-color ease-in-out 200ms;

  &:hover {
    background-color: #247749;
  }

  &:active {
    background-color: #1d5f3c;
  }

  &:disabled {
    background-color: #e7e7e7;
    color: #5d5d5d;
  }
}

.smallButton {
  font-size: 16px;
  font-weight: 600;
  line-height: 12px;

  margin: 0;

  @media screen and (min-width: 1920px) {
    padding: 18px;
  }
}
