$desktop-min-width: 1280px;
$desktop-max-width: 1920px;
$tablet-min-width: 744px;
$tablet-max-width: 1024px;
$mobile-min-width: 390px;
$mobile-max-width: 430px;
$background-color: #fbfbfb;
$white-color: #ffffff;
$light-color: #f6f6f6;
$light-border-color: #e7e7e7;
$disabled-color: #e7e7e7;
$main-green-color: #153f2a;
$light-green-color: #34955d;
$label-green-color: #40bb62;
$hover-green-color: #247749;
$active-green-color: #1d5f3c;
$text-dark-color: #3d3d3d;
$icon-grey-color: #5d5d5d;
$light-grey-color: #888888;
$grey-color-price: #b2b2b2;
$grey-border-color: #d1d1d1;
$disabled-icon-color: #b0b0b0;
$box-shadow-hover: #16161633;
$dark-color: #262626;
$red-color: #ff5757;
$grey-color: #6d6d6d;
