$desktop-min-width: 1280px;
$desktop-max-width: 1920px;
$tablet-min-width: 744px;
$mobile-min-width: 390px;
$background-color: #fbfbfb;
$white-color: #ffffff;
$icon-grey-color: #5d5d5d;
$light-grey-color: #888888;
$main-green-color: #153f2a;
$light-green-color: #34955d;
$text-dark-color: #3d3d3d;
$grey-color-price: #b2b2b2;
$grey-border-color: #d1d1d1;
$disabled-color: #e7e7e7;
$disabled-icon-color: #b0b0b0;
$light-color: #f6f6f6;
