.priceForm {
  display: flex;
  flex-direction: column;
  gap: 16px;

  @media screen and (min-width: 1920px) {
    gap: 24px;
  }
}

.form__title {
  color: #3d3d3d;

  font-size: 16px;
  font-weight: 600;
  line-height: 19px;

  @media screen and (min-width: 1920px) {
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
  }
}

.priceInputsWrapper {
  display: flex;
  gap: 8px;
}

.priceLabel {
  border: 1.5px solid #d1d1d1;
  border-radius: 7px;
  padding: 13px 12px;
  display: flex;

  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  color: #888888;
  justify-content: space-between;

  width: calc(50% - 4px);
}

.priceInput {
  border: none;
  outline: none;
  max-width: 50%;

  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  color: #3d3d3d;

  text-align: end;

  padding: 0;
}
