.priceForm {
  display: flex;
  flex-direction: column;
  gap: 16px;

  @include on-desktop-max {
    gap: 24px;
  }
}

.formTitle {
  color: $text-dark-color;
  font-weight: 600;
  line-height: 1.2;

  @include on-desktop {
    font-size: 18px;
  }
}

.priceInputsWrapper {
  display: flex;
  gap: 8px;
}

.priceLabel {
  border: 1.5px solid $grey-border-color
;
  border-radius: 7px;
  padding: 13px 12px;
  display: flex;
  line-height: 1.2;
  color: $light-grey-color;
  justify-content: space-between;
  width: calc(50% - 4px);
}

.priceInput {
  border: none;
  outline: none;
  max-width: 50%;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.2;
  color: $text-dark-color;
  text-align: end;
  padding: 0;
}

.priceInput::placeholder {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.2;
  color: $text-dark-color;
}