.productNavButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 42px;
  font-size: 15px;
  font-weight: 500;
  line-height: 0.74;
  border: none;
  border-radius: 100px;
  cursor: pointer;

  @include on-desktop {
    width: 120px;
  }

}

.product__nav_button_active {
  background-color: $light-green-color;
  color: $white-color;
}

.product__nav_button_inactive {
  background-color: $light-border-color;
  color: $icon-grey-color;
}
