.characteristic__item {
  background-color: $bcg-light;
  display: flex;
  justify-content: space-between;
  border-radius: 7px;
  padding: 14px 16px;

  @include on-desktop {
    padding: 21px 24px;
  }
}

.characteristic_text {
  color: $light-grey-color;
  font-size: 15px;
  line-height: 0.8;

  @include on-desktop {
    font-size: 16px;
  }
}

.characteristic_value {
  color: $descr-grey-color;
  font-weight: 500;
}
