.characteristic__item {
  background-color: #f4f4f4;
  display: flex;
  justify-content: space-between;
  border-radius: 7px;
  padding: 14px 16px;

  @include on-desktop {
    padding: 21px 24px;
  }
}

.characteristic_text {
  color: #888888;

  font-size: 15px;
  font-weight: 400;
  line-height: 12px;

  @media screen and (min-width: 1920px) {
    font-size: 16px;
  }
}

.characteristic_value {
  color: #454545;

  font-weight: 500;
}
