.sortTextWrapper {
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 8px;

  @include on-desktop {
    gap: 12px;
  }
}

// .sortText {
//   font-size: 16px;
//   font-weight: 500;
//   line-height: 0.75;
//   color: $light-grey-color;
// }

// .sortByText {
//   color: $dark-color;
// }

.selectHeader {
  display: flex;
  gap: 6px;
  align-items: flex-end;
}

.iconDownSort {
  stroke: $dark-color;
  width: 24px;
  height: 24px;
  transition: transform 300ms ease-out;
}

.icon__sort__open {
  transform: rotate(180deg);
}

.dropdown {
  position: absolute;
  right: 0;
  z-index: 100;

  border: 1.5px solid #e7e7e7;

  border-radius: 8px;

  background-color: #ffffff;

  display: flex;
  flex-direction: column;
}

.dropdownItem {
  font-size: 16px;
  font-weight: 500;
  line-height: 12px;
  color: #5d5d5d;

  cursor: pointer;

  padding: 24px;

  &:hover {
    background-color: $light-border-color;
    color: $icon-grey-color;
  }
}
