.categorySection {
  padding: 0 0 100px 0;
}

.sub_cat_title {
  font-size: 28px;
  font-weight: 600;
  line-height: 34px;
  color: $dark-color;
  padding: 24px 0;
}

.sub_cat_list {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  padding: 24px 0;

  @include on-desktop {
    gap: 24px;
  }
}

.sub_cat_item {
  display: flex;
  flex-direction: column;
  padding: 16px 12px;
  gap: 12px;

  @include on-desktop {
    gap: 18px;
    padding: 20px;
  }
}

.subCatItem {
  background-color: $white-color;
  text-align: center;
  border-radius: 18px;
}

.sub_cat_img_wrapper {
  width: 159px;
  height: 168px;

  @include on-desktop {
    width: 244px;
    height: 258px;
  }
}

.sub_cat_text {
  color: $text-dark-color;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;

  @media screen and (min-width: 744px) {
    // !!!!! НЕТУ
  }

  @include on-desktop {
    font-size: 18px;
    font-weight: 700;
    line-height: 1.3;
  }
}

.iconBack {
  stroke: $text-dark-color;
  transform: rotate(90deg);
  width: 24px;
  height: 24px;
}

.textBack {
  color: $text-dark-color;
  font-size: 18px;
  font-weight: 500;
  line-height: 0.67;

  @include on-tablet {
    font-size: 16px;
  }
}

.linkBack {
  display: flex;
  gap: 8px;
  align-items: center;
  padding: 12px 8px 12px 0;
}
