.orderSubTitle {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  color: $dark-color;
  margin-bottom: 24px;
}

.dropdownWrapper {
  display: flex;
  justify-content: space-between;
  gap: 16px;

  @include on-desktop {
    gap: 32px;
  }
}

