@import "../../scss/common";

.sliderContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;

  @include on-desktop {
    gap: 24px;
  }
}

.slider__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.slider__header_title {
  color: $text-dark-color;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.2;

  @media screen and (min-width: 1920px) {
    font-size: 28px;
    font-weight: 600;
    line-height: 34px;
  }
}

.styled__link {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
  padding: 12px 8px;
}

.show__all_text {
  font-size: 16px;
  font-weight: 500;
  line-height: 12px;
  color: #5d5d5d;
}

.show__all_icon {
  stroke: #5d5d5d;
  width: 24px;
  height: 24px;
}

.swiper_container {
  display: none;

  @include on-tablet {
    display: flex;
  }
}

.swiper_wrapper {
  display: flex;
  margin-bottom: 0;
}

.productsList {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 16px;

  @include on-tablet {
    display: none;
  }
}

.item_box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
}

