@import "../../scss/common";

.sliderContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;

  @include on-desktop {
    gap: 24px;
  }
}

.slider__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.slider__header_title {
  color: $text-dark-color;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.2;

  @include on-desktop {
    font-size: 28px;
  }
}

.swiper_container {
  display: none;

  @include on-tablet {
    display: flex;
  }
}

.swiper_wrapper {
  display: flex;
  margin-bottom: 0;
}

.productsList {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 16px;

  @include on-tablet {
    display: none;
  }
}

.item_box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-right: 0;

  @include on-desktop {
    margin-bottom: 24px;
  }
}


.styled__link {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
  padding: 12px 8px;
  width: 182px;
  align-self: center;
}

.show__all_text {
  font-size: 16px;
  font-weight: 500;
  line-height: 0.75;
  color: $icon-grey-color;
}

.show__all_icon {
  stroke: $icon-grey-color;
  width: 24px;
  height: 24px;
}

