.sliderContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;

  @include on-desktop {
    gap: 24px;
  }
}

.sliderHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sliderHeaderTitle {
  color: $text-dark-color;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.2;

  @include on-desktop {
    font-size: 28px;
  }
}

.swiperContainer {
  display: none;

  @include on-tablet {
    display: flex;
  }
}

.swiperWrapper {
  display: flex;
  margin-bottom: 0;
}

.productsList {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 16px;

  @include on-tablet {
    display: none;
  }
}

.itemBox {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-right: 0;

  @include on-desktop {
    margin-bottom: 24px;
  }
}


.styledLink {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
  padding: 12px 8px;
  align-self: center;
}

.showAllText {
  font-size: 16px;
  font-weight: 500;
  line-height: 0.75;
  color: $icon-grey-color;
}

.showAllIcon {
  stroke: $icon-grey-color;
  width: 24px;
  height: 24px;
}

