.wrapper {
  padding: 16px;
  border-bottom: 1px solid $light-color;
}

.btnBack {
  padding-bottom: 16px;
}

.animalLogo,
.toAnimalIcon {
  width: 24px;
  height: 24px;
  stroke: $icon-grey-color;
}

.animalItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 8px;
}

.toAnimalIcon {
  transform: rotate(-90deg);
}

.animalWrapper {
  display: flex;
  align-items: center;
  gap: 8px;
}

.animalsList {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.animalText {
  font-size: 16px;
  font-weight: 500;
  line-height: 0.75;
  color: $icon-grey-color;

  @include on-tablet {
    font-size: 18px;
  }
}
