.headerSearch {
  display: none;

  @include on-tablet {
    flex-grow: 1;
    display: flex;
  }

  @include on-desktop {
    justify-content: space-between;
  }
}

.headerLabel {
  padding: 12px 18px;
  display: flex;
  width: 100%;
  gap: 8px;
  align-items: center;
  border: 1.6px solid $grey-border-color;
  border-right: none;
  border-radius: 100px 0 0 100px;
  transition: all 300ms ease-out;
  cursor: text;

  &:hover {
    border-color: $light-grey-color;
  }

  &.focused {
    border-color: $icon-grey-color;

    & .icon_loop {
      stroke: $icon-grey-color;
    }
  }
}

.icon_cross {
  stroke: $icon-grey-color;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.icon_loop {
  width: 20px;
  height: 20px;
  stroke: $light-grey-color;
}

.headerInput {
  border: none;
  outline: none;
  font-size: 16px;
  background-color: transparent;
}

.searchButton {
  border: none;
  outline: none;
  padding: 18px 24px;
  color: $white-color;
  background-color: $light-green-color;
  cursor: pointer;
  border-radius: 0 100px 100px 0;
  font-size: 16px;
  font-weight: 500;
  line-height: 0.75;
}
