.logo__footer {
  stroke: #ffffff;
  fill: #ffffff;
}

.logo__header {
  stroke: #34955d;
  fill: #34955d;
}

.logo {
  width: 110px;
  height: 24px;

  @media screen and (min-width: 744px) {
    width: 150px;
    height: 32px;
  }
}

.logo__wrapper {
  height: 24px;
  @media screen and (min-width: 1920px) {
    padding-right: 66px;
    height: 32px;
  }
}
