.burgerWrapper {
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 99999;
  background-color: #ffffff;
  top: 0;
  left: 0;
  transform: translateX(-100%);
  transition: transform 0.4s ease-in-out;
}

.open {
  transform: translateX(0);
}

.categoryName {
  font-size: 16px;
  font-weight: 500;
  line-height: 12px;

  color: #5d5d5d;

  @media screen and (min-width: 744px) {
    font-size: 18px;
    line-height: 13px;
  }
}

.subCatName {
  font-size: 16px;
  font-weight: 500;
  line-height: 12px;
  color: #3d3d3d;

  @media screen and (min-width: 744px) {
    font-size: 18px;
    line-height: 13px;
  }
}

.subCatItem {
  padding: 12px 8px;
}

.subCatList {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.categoryList {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
