.userInfoWrapper {
  display: flex;
  gap: 24px;
  border-top: 1px solid $light-color;

  @include on-desktop {
    border: none;
    background-color: transparent;
  }
}

.userNavItem {
  font-size: 18px;
  font-weight: 500;
  line-height: 13px;
  color: $icon-grey-color;
  border: none;
  padding: 0;
  background-color: transparent;
}

.userSidebarIcon {
  width: 24px;
  height: 24px;
  stroke: $icon-grey-color;
}

.userSidebarItem {
  display: flex;
  align-items: center;
  gap: 8px;
  width: 216px;
  padding: 12px 0;
}

.userInfoList {
  display: none;

  @include on-desktop {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-top: 64px;
    padding-bottom: 100px;
  }
}
