.favoriteSection {
  background-color: $white-color;
  width: 100vw;
  height: 120vh;

  @include on-desktop {
    background-color: transparent;
    width: auto;
    height: auto;
  }
}

.wrapper {
  max-width: $mobile-max-width;
  margin: 0 auto;

  @include on-tablet {
    max-width: $tablet-max-width;
  }
}

.btnBack {
  padding: 0 8px 16px;
  border-bottom: 1px solid $light-color;

  @include on-desktop {
    display: none;
  }
}

.favoriteTitle {
  display: none;

  @include on-desktop {
    display: block;
    font-size: 24px;
    font-weight: 600;
    line-height: 0.71;
    color: $dark-color;
    margin-bottom: 32px;
  }
}

.favoriteList {
  display: flex;
  gap: 24px;
}
