.amountWrapper {
  margin-bottom: 24px;
}

.amountPrice {
  font-size: 24px;
  font-weight: 600;
  line-height: 0.92;
  color: $dark-color;
}

.amountText {
  font-size: 15px;
  font-weight: 500;
  line-height: 0.87;
  margin-bottom: 8px;
  color: $light-grey-color;
}
