.productCard {
  position: relative;
  border-radius: 10px;
  width: calc((100% - (16px)) / 2);
  background-color: $white-color;
  border: 1px solid $light-color;
  padding: 16px 8px;

  @include on-tablet {
    width: calc((100% - (16px * 3)) / 4);
  }

  @include on-desktop {
    width: calc((100% - (16px * 2)) / 3);
    border: none;
    padding: 20px 16px 0;
  }

  @include on-desktop-max {
    width: calc((100% - (24px * 4)) / 5);
  }

  @include hover(box-shadow, 0px 4px 8px 0px $box-shadow-hover);
}

.productLink {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 16px;
  height: 100%;
}

.textWrapper {
  flex-grow: 1;
}

.productImageWrapper {
  display: flex;
  justify-content: center;
  overflow: hidden;
  max-width: 163px;
  height: 144px;

  @include on-tablet {
    max-width: 154px;
  }

  @include on-desktop {
    max-width: 252px;
    height: 258px;
  }
}

.favoriteButton {
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  background-color: transparent;
  border-radius: 50%;
  padding: 8px;
  border: none;
  outline: none;

  @include on-desktop {
    top: 16px;
    right: 16px;
    padding: 12px;
    background-color: $icon-background-color;
  }
}

.discount {
  position: absolute;
  top: 6px;
  left: 5.5px;
  background-color: $red-color;
  color: $white-color;
  padding: 7px 8px;
  border-radius: 100px;
  font-size: 13px;
  line-height: 0.7;

  @include on-desktop {
    top: 16px;
    left: 16px;
    font-size: 16px;
    font-weight: 500;
    line-height: 0.75;
    padding: 10px 12px;
  }
}

.heartIcon {
  width: 20px;
  height: 20px;
  stroke: $dark-color;

  @include on-desktop {
    width: 24px;
    height: 24px;
    stroke: $icon-grey-color
  }
}

.swiperDescrWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 8px;
}

.swiperTitle {
  color: $text-dark-color;
  font-size: 15px;
  font-weight: 500;
  line-height: 1.27;

  @include on-desktop {
    font-size: 18px;
    font-weight: 700;
  }
}

.swipperDescription {
  display: none;

  @include on-desktop {
    display: inline;
    font-size: 15px;
    line-height: 1.27;
    color: $icon-grey-color;
    max-height: 57px;
    overflow: hidden;
  }
}

.swiperPriceWrapper {
  display: flex;
  flex-direction: column-reverse;
  gap: 4px;

  @include on-desktop {
    flex-direction: row;
    gap: 8px;
    align-items: center;
  }
}

.swiperNewPrice {
  color: $text-dark-color;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.2;

  @include on-desktop {
    font-size: 20px;
    font-weight: 700;
  }
}

.swiperOldPrice {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.22;
  text-decoration: line-through;
  color: $grey-color-price;

  @include on-desktop {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.19;
  }
}

.mobileBuyWrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-bottom: 32px;

  @include on-tablet {
    padding-bottom: 0;
  }
}

.cartBuyIcon {
  width: 24px;
  height: 24px;
  stroke: $light-green-color;
}
