.userLabel {
  display: flex;
  flex-direction: column;
  color: $grey-color;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.01em;
  gap: 8px;

  @include on-desktop {
    gap: 16px;
  }
}

.userFieldInput {
  background-color: transparent;
  border: none;
  outline: none;
  padding: 0;
}

.userInfoText,
.placeholder {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.3;
  color: $dark-color;
}

.editButtonsWrapper {
  display: flex;
}

.placeholder {
  color: $light-grey-color;
}
