.burgerWrapper {
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 99999;
  background-color: $white-color;
  top: 0;
  left: 0;
  transform: translateX(-100%);
  transition: transform 0.4s ease-in-out;
}

.open {
  transform: translateX(0);
}

.burgerIcon {
  width: 24px;
  height: 24px;
  stroke: $icon-grey-color;
  cursor: pointer;
}

.burgerContainer {
  padding: 16px 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;

  &:not(:last-child) {
    border-bottom: 1px solid $light-color;
  }
}

.burgerHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.burgerMenuItem {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 12px 0;
}

.burgerMenuList {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.burgerMenuText {
  font-size: 16px;
  font-weight: 500;
  line-height: 13px;
  color: $icon-grey-color;

  @include on-tablet {
    font-size: 18px;
  }
}

.burgerAuthWrapper {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 12px 0;
}

.burgerAuthList {
  display: flex;
  align-items: center;
  gap: 16px;
}

.line {
  color: $disabled-icon-color;
  font-size: 16px;
  font-weight: 500;
  line-height: 0.81;
}
