.orderSubTitle {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  color: $dark-color;
  margin-bottom: 24px;
}

.dropdownWrapper {
  display: flex;
  justify-content: space-between;
  gap: 16px;

  @include on-desktop {
    gap: 32px;
  }
}

.dropdown {
  position: relative;
  display: flex;
  gap: 12px;
  flex-direction: column;
  width: 100%;
}

.dropdownLabel {
  color: $light-grey-color;
  font-size: 15px;
  font-weight: 500;
  line-height: 1.2;

  @include on-desktop {
    font-size: 16px;
  }
}

.dropdownBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $dropdown-bcg-color;
  height: 48px;
  border-radius: 8px;
  padding: 15px 0 15px 16px;
  
  @include on-desktop {
    height: 64px;
    padding: 20px 0 20px 16px;
    border-radius: 10px;
  }
}

.dropdownTrigger {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 12px;

  @include on-desktop {
    padding: 20px;
  }
}

.iconDown,
.iconUp {
  width: 24px;
  height: 24px;
  fill: $dark-color;
  stroke: $dark-color;
}

.dropdownText,
.dropdownInput {
  font-size: 15px;
  font-weight: 500;
  line-height: 1.2;
  color: $input-color;

  @include on-desktop {
    font-size: 18px;
  }
}

.dropdownInput {
  width: 107px;
  background-color: transparent;
  border: none;
  outline: none;

  &::placeholder {
    font-size: 15px;
    font-weight: 500;
    line-height: 1.2;

    @include on-desktop {
      font-size: 18px;
    }
  }

  @include on-desktop {
    width: 100%;
  }
}

.dropdownOptions {
  width: 100%;
  position: absolute;
  top: 95%;
  left: 0;
  background-color: $white-color;
  border: 1px solid $light-border-color;
  border-radius: 10px;
  padding: 15px 20px;
  z-index: 10;
  transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.option {
  cursor: pointer;
}

