.catologListWrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;

  @include on-desktop {
    gap: 32px;
  }
}

.catalogTitle {
  color: $text-dark-color;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.21;
}

.filterMob {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include on-desktop {
    display: none;
  }
}

.filterButton {
  padding: 8px 12px;
  font-size: 16px;
  font-weight: 500;
  line-height: 12px;
  color: $white-color;
  background-color: $light-green-color;
  border: none;
  border-radius: 100px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.filterIcon {
  width: 24px;
  height: 24px;
  stroke: $white-color;
}

.filterParams {
  display: flex;
  gap: 8px;

  @include on-desktop {
    gap: 12px;
  }
}

.cleanButton {
  font-weight: 500;
  font-size: 15px;
  line-height: 11px;
  color: $icon-grey-color;
  background-color: $light-border-color;
  border-radius: 100px;
  border: none;
  padding: 12px;

  @include on-desktop {
    padding: 15px 16px;
  }
}

.middleWrapper {
  display: flex;
  justify-content: space-between;
}

.foundTitle {
  color: $dark-color;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.2;

  @include on-desktop {
    font-size: 20px;
  }
}

.catalogList {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;

  @include on-desktop {
    gap: 24px;
  }
}

.sortByDesk {
  display: none;

  @include on-desktop {
    display: block;
  }
}