.filtersWrapper {
  background-color: $white-color;
  border-radius: 10px;
  padding: 24px;
  display: flex;
  gap: 36px;
  flex-direction: column;
  width: 100%;

  @include on-desktop {
    width: 284px;
  }
}

.clearButton {
  font-size: 16px;
  font-weight: 500;
  line-height: 12px;
  color: $icon-grey-color;
  background-color: $light-border-color;
  border-radius: 10px;
  padding: 18px;
  border: none;
}
