
.slider__buttons_wrapper {
  display: none;

  @include on-tablet {
    display: flex;
    justify-items: center;
    gap: 8px;
  }

  @include on-desktop {
    gap: 12px;
  }
}

.slider__button {
  background-color: $light-green-color;
  border-radius: 50%;
  padding: 6px;
  display: flex;
  border: none;
  cursor: pointer;

  @include on-desktop {
    padding: 12px;
  }

  &:disabled {
    background-color: 
$light-border-color;
  }
}

.slider__icon {
  width: 24px;
  height: 24px;
}

.slider__button .slider__icon {
  stroke: $white-color;
}

.slider__button:disabled .slider__icon {
  stroke: $disabled-icon-color;
}
