
.dropdown {
  display: none;

  @include on-desktop {
    display: block;
    float: left;
    overflow: hidden;
  }
}

.category__header_button {
  background-color: 
$light-border-color;
  border: none;
  padding: 12px 18px;
  border-radius: 100px;
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.headerIcon {
  width: 24px;
  height: 24px;
  stroke: $icon-grey-color;
}

.header__btn_text {
  font-size: 16px;
  font-weight: 600;
  line-height: 0.75;
  color: $icon-grey-color;
}
