
.sidebar__wrapper {
  display: none;

  @include on-desktop {
    display: block;
    padding: 64px 63px 0 0;
  }
}

.category_list {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.category_link {
  font-size: 18px;
  font-weight: 500;
  line-height: 0.72;
  color: $icon-grey-color;
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 12px 4px;
}

.category_logo {
  width: 24px;
  height: 24px;
}
