@import "../../scss/common";

.header {
  background-color: $white-color;
  min-width: fit-content;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 0;

    @include on-tablet {
      padding: 17px 0;
      gap: 24px;
    }
  }

  &__box {
    display: flex;
    align-items: center;
    gap: 16px;
  }

  &__burger {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: transparent;
    border: none;
    padding: 6px 4px;
  }

  &__logo {
    display: flex;
    align-items: baseline;
    gap: 6px;
  }

  &__search {
    display: none;

    @include on-tablet {
      display: flex;
    }
  }

}

.info {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 8px;

  &__btn {
    display: none
  }

  &__search,
  &__cart {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: none;
  }

  &__cart {
    position: relative;
  }

  &__search {
    @include on-tablet {
      display: none;
    }
  }

  &__user {
    display: none;
  }

  &__button {
    display: none;
  }
}

.icon_menu {
  width: 16px;
  height: 12px;
  stroke: $icon-grey-color;
}

.icon_paw {
  width: 24px;
  height: 24px;
  fill: $light-green-color;
  stroke: $light-green-color;

  @include on-tablet {
    width: 32px;
    height: 32px;
  }
}

.icon_name {
  width: 79px;
  height: 19px;
  fill: $light-green-color;
  stroke: $light-green-color;

  @include on-tablet {
    width: 108px;
    height: 25px;
  }
}

.icon_loop {
  width: 20px;
  height: 20px;
  stroke: $icon-grey-color;
}

.icon_cart {
  width: 20px;
  height: 20px;
  stroke: $icon-grey-color;
}

.cart_count {
  position: absolute;
  color: $icon-grey-color;
}