.header {
  background-color: #ffffff;
}

.header__container {
  display: flex;

  justify-content: space-between;

  align-items: center;

  padding-top: 12px;
  padding-bottom: 12px;

  @media screen and (min-width: 744px) {
    padding-top: 17px;
    padding-bottom: 17px;
    gap: 24px;
  }

  @media screen and (min-width: 1920px) {
    padding-top: 25px;
    padding-bottom: 25px;
  }
}

.menuIcon {
  width: 24px;
  height: 24px;
  stroke: #5d5d5d;
}

.logoWrapper {
  display: flex;
  gap: 16px;
  align-items: center;
}

.search__section {
  display: flex;
  flex-grow: 1;
  gap: 12px;
}

.info__wrapper {
  display: flex;
  gap: 12px;
  align-items: center;
}

.headerIcon {
  width: 24px;
  height: 24px;
  stroke: #5d5d5d;
}

.user__button {
  border: none;
  background-color: transparent;
  padding: 0;
  padding: 8px;

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
}

.userLink {
  display: flex;
}
