.header {
  background-color: $white-color;
  min-width: fit-content;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 0;

    @include on-tablet {
      padding: 17px 0;
      gap: 24px;
    }
  }

  &__box {
    display: flex;
    align-items: center;
    gap: 16px;
  }

  &__burger {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: transparent;
    border: none;
    padding: 6px 4px;
    cursor: pointer;

    @include on-desktop {
      display: none;
    }
  }

  &__search {
    display: none;

    @include on-tablet {
      flex-grow: 1;
      display: flex;
    }

    @include on-desktop {
      gap: 12px;
    }
  }

}

.info {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;

  @include on-desktop {
    justify-content: space-between;
    gap: 12px;
  }

  &__btn,
  &__button {
    display: none;

    @include on-desktop {
      display: flex;
      background-color: transparent;
      border: none;
      padding: 12px 8px;
    }
  }

  &__search,
  &__cart {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }

  &__cart {
    display: none;

    @include on-desktop {
      display: flex;
      justify-content: space-between;
      gap: 8px;
      width: 55px;
      position: relative;
      cursor: pointer;
    }
  }

  .cart {
    position: relative;
    width: 55px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    cursor: pointer;

    @include on-desktop {
      display: none;
    }
  }

  &__search {
    @include on-tablet {
      display: none;
    }
  }

  &__user {
    display: none;
    cursor: pointer;

    @include on-desktop {
      display: flex;
      padding: 12px 8px;
      border: none;
      background-color: transparent;
    }
  }

  &__button {
    display: none;
    cursor: pointer;

    @include on-desktop {
      display: flex;
    }
  }
}

.icon_menu {
  width: 16px;
  height: 12px;
  stroke: $icon-grey-color;
}

.icon_loop {
  width: 20px;
  height: 20px;
  stroke: $icon-grey-color;
}

.cart_count {
  position: absolute;
  right: 0;
  color: $light-grey-color;
}

.icon_heart,
.icon_person,
.icon_cart {
  width: 24px;
  height: 24px;
  stroke: $icon-grey-color;
}
