
.footer {
  background-color: $main-green-color;
  padding: 24px 16px;

  @include on-desktop {
    padding: 64px 48px 32px;
  }
}

.footerInfo {
  display: grid;
  justify-content: space-between;
  margin-bottom: 48px;
  gap: 48px;
  flex-direction: column;
  
  @include on-tablet {
    flex-direction: row;
    grid-template-columns: repeat(3, auto);
  }

  @include on-desktop {
    grid-template-columns: repeat(4, auto);
  }
}

.footerNavTitle {
  color: $white-color;

  font-size: 16px;
  font-weight: 600;
  line-height: 1.19;
  margin-bottom: 16px;

  @include on-desktop {
    font-size: 18px;
    margin-bottom: 18px;
  }
}

.footerNavText {
  color: $white-color;
  font-size: 15px;
  line-height: 1.2;

  @include on-desktop {
    font-size: 16px;
    line-height: 1.9;
  }

  &.contact {
    font-size: 14px;
    line-height: 1.2;

    @include on-desktop {
      font-size: 16px;
      line-height: 1.9;
    }
  }
}

.footerNavList {
  display: flex;
  flex-direction: column;
  gap: 16px;

  @include on-desktop {
    gap: 18px;
  }
}

.footerAddress {
  font-size: 14px;
  line-height: 1.21;
  color: $white-color;

  @include on-desktop {
    font-size: 15px;
  }
}

.footerAddressWrapper {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.infoTitle {
  color: $white-color;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.21;
  margin-bottom: 12px;
}

.logoWrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;

  @include on-tablet {
    grid-column: span 3;
  }

  @include on-desktop {
    grid-column: span 1;
  }
}

.contactsWrapper {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.contactsList {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.socLinkIcon {
  width: 24px;
  height: 24px;
  fill: $white-color;
}

.socLinkList {
  display: flex;
  gap: 24px;
}

.footerPaymentIcon {
  width: 32px;
  height: 32px;
}

.footerPaymentList {
  display: flex;
  gap: 24px;
}

.copyrightText {
  color: $white-color;
  font-size: 13px;
  line-height: 1.23;

  @include on-desktop {
    font-size: 14px;
  }
}

.copyrightWrapper {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
}
