@import "../../scss/common";

.footer {
  background-color: $main-green-color;
  padding: 24px 16px;

  @include on-desktop {
    padding-top: 64px;
    padding-bottom: 32px;
  }
}

.footerInfo {
  display: grid;

  justify-content: space-between;
  margin-bottom: 48px;

  gap: 48px;

  flex-direction: column;

  @media screen and (min-width: 744px) {
    flex-direction: row;
    grid-template-columns: repeat(3, auto);
  }

  @media screen and (min-width: 1920px) {
    grid-template-columns: repeat(4, auto);
  }
}

.footerNavTitle {
  color: $white-color;

  font-size: 16px;
  font-weight: 600;
  line-height: 19px;

  margin-bottom: 16px;

  @media screen and (min-width: 1920px) {
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;

    margin-bottom: 18px;
  }
}

.footerNavText {
  color: $white-color;

  font-size: 15px;
  font-weight: 400;
  line-height: 18px;

  &.contact {
    font-size: 14px;
    line-height: 17px;
  }

  &,
  &.contact {
    @media screen and (min-width: 1920px) {
      font-size: 16px;
      font-weight: 400;
      line-height: 19px;
    }
  }
}

.footerNavList {
  display: flex;
  flex-direction: column;
  gap: 16px;

  @media screen and (min-width: 1920px) {
    gap: 18px;
  }
}

.footerAddress {
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;

  color: $white-color;

  @media screen and (min-width: 1920px) {
    font-size: 15px;
    font-weight: 400;
    line-height: 18px;
  }
}

.footerAddressWrapper {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.infoTitle {
  color: $white-color;

  font-size: 14px;
  font-weight: 600;
  line-height: 17px;

  margin-bottom: 12px;
}

.logoWrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;

  @media screen and (min-width: 744px) {
    grid-column: span 3;
  }

  @media screen and (min-width: 1920px) {
    grid-column: span 1;
  }
}

.contactsWrapper {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.contactsList {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.socLinkIcon {
  width: 24px;
  height: 24px;

  fill: #ffffff;
}

.socLinkList {
  display: flex;
  gap: 24px;
}

.footerPaymentIcon {
  width: 32px;
  height: 32px;
}

.footerPaymentList {
  display: flex;
  gap: 24px;
}

.copyrightText {
  color: #ffffff;

  font-size: 13px;
  font-weight: 400;
  line-height: 16px;

  @media screen and (min-width: 1920px) {
    font-size: 14px;
    line-height: 17px;
  }
}

.copyrightWrapper {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
}
