.subCatList {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  padding: 24px 0;

  @include on-desktop {
    gap: 24px;
  }
}

.subCatItem {
  max-width: calc((100% - 8px) / 2);
  display: flex;
  flex-direction: column;
  padding: 16px 12px;
  gap: 12px;
  background-color: $white-color;
  text-align: center;
  border-radius: 18px;
  border: 1px solid $light-color;

  @include on-tablet {
    max-width: calc((100% - 24px) / 4);
  }

  @include on-desktop {
    gap: 18px;
    padding: 20px;
    border: none;
    max-width: calc((100% - (24px * 3)) / 4);
  }
}

.subCatImgWrapper {
  width: 159px;
  height: 168px;

  @include on-desktop {
    width: 244px;
    height: 258px;
  }
}

.subCatText {
  color: $text-dark-color;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.2;

  @include on-desktop {
    font-size: 18px;
    font-weight: 700;
    line-height: 1.3;
  }
}