.item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 16px 8px;
  gap: 16px;
  border-radius: 6px;
  border: 1px solid $light-color;
  background-color: $white-color;
  width: calc((100% - 16px) / 2);
  
  @include on-tablet {
    width: 100%;
  }

  @include on-desktop {
    padding: 20px 16px;
    border-radius: 10px;
    transition: box-shadow 500ms ease-out;

    &:hover,
    &:focus {
      box-shadow: 0px 4px 8px 0px $box-shadow-hover;
    }
  }
}

.swiperImageWrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  align-self: center;
  height: 144px;

  @include on-desktop {
    height: 258px;
  }
}

.swiperDisc {
  background-color: $red-color;
  position: absolute;
  font-size: 13px;
  padding: 7px 8px;
  border-radius: 100px;
  top: 0;
  left: 0;
  color: $white-color;

  @include on-desktop {
    font-size: 16px;
    padding: 9px 12px;
  }
}

.swiperImage {
  width: auto;
  height: 100%;
}

.favoriteButton {
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 50%;
  border: none;
  outline: none;
  background-color: transparent;

  @include on-desktop {
    background-color: $icon-background-color;
    padding: 12px;
  }
}

.heartIcon {
  width: 20px;
  height: 20px;
  stroke: $dark-color;

  @include on-desktop {
    width: 24px;
    height: 24px;
    stroke: $icon-grey-color;
  }
}

.cartButton {
  background-color: transparent;
  border: none;
  cursor: pointer;
  align-self: flex-end;
}

.cartBuyIcon {
  width: 24px;
  height: 24px;
  stroke: $light-green-color;
}

.swiperDescrWrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding-bottom: 32px;

  @include on-tablet {
    padding-bottom: 0;
  }
}

.swiperTitle {
  width: 163px;
  color: $text-dark-color;
  font-size: 15px;
  font-weight: 500;
  line-height: 1.4;

  @include on-desktop {
    font-size: 18px;
    font-weight: 700;
    line-height: 1.28;
  }

  @include on-desktop-max {
    width: 265px;
  }
}

.swiperDescription {
  display: none;

  @include on-desktop {
    display: flex;
    font-size: 15px;
    line-height: 1.27;
    color: $icon-grey-color;
  }
}

.swiperPriceWrapper {
  display: flex;
  flex-direction: column-reverse;
  gap: 4px;

  @include on-desktop {
    gap: 8px;
  }
}

.swiperNewPrice {
  color: $text-dark-color;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.9;

  @include on-desktop {
    font-size: 20px;
    font-weight: 700;
    line-height: 1.2px;
  }
}

.swiperOldPrice {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.21;
  text-decoration: line-through;
  color: $grey-color-price;

  @include on-desktop {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.9;
  }
}

.mobileBuyWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.swiperImageWrapperNew {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  align-self: center;
  height: 144px;

  &::before {
    background-color: $label-green-color;
    position: absolute;
    content: 'NEW';
    font-size: 13px;
    padding: 7px 8px;
    border-radius: 100px;
    top: 0;
    left: 0;
    color: $white-color;

    @include on-desktop {
      font-size: 16px;
      padding: 9px 12px;
    }
  }

  @include on-desktop {
    height: 258px;
  }
}
