.item {
  flex-basis: calc((100% - 16px) / 2);

  @media screen and (min-width: 744px) {
    max-width: 170px;
  }

  @media screen and (min-width: 1920px) {
    max-width: 297.6px;
  }
}

.swiper__item {
  display: flex;
  flex-direction: column;
  padding: 16px 8px;
  gap: 16px;

  border-radius: 6px;

  @media screen and (max-width: 1919px) {
    border: 1px solid #f6f6f6;
  }

  @media screen and (min-width: 1920px) {
    padding: 20px 16px;
    border-radius: 10px;

    transition: box-shadow 500ms ease-out;
  }
}

.swiper__item:hover,
.swiper__item:focus {
  @media screen and (min-width: 1920px) {
    box-shadow: 0px 4px 8px 0px #16161633;
  }
}

.swiper__image_wrapper {
  overflow: hidden;
  position: relative;
  margin-right: auto;
  margin-left: auto;

  width: 163px;
  height: 144px;

  @media screen and (min-width: 744px) {
    width: 154px;
  }

  @media screen and (min-width: 1920px) {
    max-width: 252px;
    height: 258px;
  }
}

.favorite__button {
  display: flex;
  position: absolute;
  top: 0;
  right: 0;

  border-radius: 50%;

  border: none;
  outline: none;
  background-color: transparent;

  @media screen and (min-width: 1920px) {
    background-color: #e7e7e780;
    padding: 12px;
  }
}

.heart__icon {
  width: 20px;
  height: 20px;
  stroke: #262626;

  @media screen and (min-width: 1920px) {
    width: 24px;
    height: 24px;
    stroke: #5d5d5d;
  }
}

.cartBuyIcon {
  width: 24px;
  height: 24px;
  stroke: #34955d;
}

.swiper__descr_wrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.swiper__title {
  color: #3d3d3d;
  font-size: 15px;
  font-weight: 500;
  line-height: 20px;

  @media screen and (min-width: 1920px) {
    font-size: 18px;
    font-weight: 700;
    line-height: 23px;
  }
}

.swipper__description {
  font-size: 15px;
  font-weight: 400;
  line-height: 19px;

  color: #5d5d5d;
}

.swiper__price_wrapper {
  display: flex;
  flex-direction: column-reverse;

  gap: 4px;

  @media screen and (min-width: 1920px) {
    flex-direction: row;
    gap: 8px;
    align-items: center;
  }
}

.swiper__new_price {
  color: #3d3d3d;

  font-size: 16px;
  font-weight: 600;
  line-height: 19px;

  @media screen and (min-width: 1920px) {
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
  }
}

.swiper__old_price {
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;

  text-decoration: line-through;
  color: #b2b2b2;

  @media screen and (min-width: 1920px) {
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
  }
}

.mobileBuyWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
