.registerLabel {
  display: flex;
  flex-direction: column;
  gap: 10px;

  color: #262626;

  font-size: 15px;
  font-weight: 500;
  line-height: 18px;

  @media screen and (min-width: 744px) {
    font-size: 16px;
    line-height: 19px;
  }
}

.haveAccWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.modalTitle {
  color: #262626;

  font-size: 20px;
  font-weight: 500;
  line-height: 15px;

  @media screen and (min-width: 1920px) {
    font-size: 24px;
    line-height: 17px;
  }
}

.registerForm {
  display: flex;
  flex-direction: column;

  width: 100%;

  @media screen and (min-width: 744px) {
    width: 472px;
  }
}

.inputsWrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 32px;

  @media screen and (min-width: 744px) {
    gap: 24px;
    margin-bottom: 24px;
  }

  @media screen and (min-width: 1920px) {
    margin-bottom: 53px;
  }
}

.inputWrapper {
  border: 1.6px solid #d1d1d1;
  padding: 15px 16px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media screen and (min-width: 744px) {
    padding: 22px 16px;
  }
}

.registerInput {
  border: none;
  outline: none;
  padding: 0;

  color: #888888;

  font-size: 15px;
  font-weight: 500;
  line-height: 18px;

  @media screen and (min-width: 744px) {
    font-size: 16px;
    line-height: 19px;
  }
}

.iconPassword {
  width: 24px;
  height: 24px;
}

.haveAccText {
  color: #888888;

  font-size: 15px;
  font-weight: 500;
  line-height: 11px;
}

.haveAccButton {
  color: #5d5d5d;
  border: none;
  background-color: transparent;
  padding: 12px 8px;

  cursor: pointer;

  font-size: 15px;
  font-weight: 500;
  line-height: 12px;

  @media screen and (min-width: 744px) {
    font-size: 16px;
  }
}

.authButtonWraper {
  display: flex;
  flex-direction: column;
  gap: 16px;

  @media screen and (min-width: 744px) {
    gap: 24px;
  }
}

.forgotPassword {
  padding: 12px 8px;
  background-color: transparent;

  font-size: 15px;
  font-weight: 500;
  line-height: 12px;

  display: flex;
  width: fit-content;
  border: none;

  color: #5d5d5d;

  @media screen and (min-width: 744px) {
    font-size: 16px;
  }
}
