@import "../../scss/common";

.register_box {
  position: relative;

  &__close {
    display: none;

    @include on-desktop {
      display: flex;
      position: absolute;
      top: -30px;
      right: -30px;
      width: 24px;
      height: 24px;
      background-color: transparent;
      border: none;
      cursor: pointer;      
    }
  }
}

.icon_close {
  width: 12px;
  height: 12px;
  stroke: $light-grey-color;

  @include hover(stroke, $dark-color);
}

.modalTitle {
  color: $dark-color;
  font-size: 20px;
  font-weight: 500;
  line-height: 0.75;
  text-align: center;
  margin-bottom: 48px;

  @include on-desktop {
    font-size: 24px;
  }
}

.registerLabel {
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: $dark-color;
  font-size: 15px;
  font-weight: 500;
  line-height: 1.2;

  @include on-tablet {
    font-size: 16px;
    line-height: 1.19;
  }
}

.haveAccWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}



.registerForm {
  display: flex;
  flex-direction: column;

  width: 100%;

  @media screen and (min-width: 744px) {
    width: 472px;
  }
}

.inputsWrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 32px;

  @media screen and (min-width: 744px) {
    gap: 24px;
    margin-bottom: 24px;
  }

  @media screen and (min-width: 1920px) {
    margin-bottom: 53px;
  }
}

.inputWrapper {
  border: 1.6px solid #d1d1d1;
  padding: 15px 16px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media screen and (min-width: 744px) {
    padding: 22px 16px;
  }
}

.registerInput {
  border: none;
  outline: none;
  padding: 0;

  color: #888888;

  font-size: 15px;
  font-weight: 500;
  line-height: 18px;

  @media screen and (min-width: 744px) {
    font-size: 16px;
    line-height: 19px;
  }
}

.iconPassword {
  width: 24px;
  height: 24px;
}

.haveAccText {
  color: #888888;

  font-size: 15px;
  font-weight: 500;
  line-height: 11px;
}

.haveAccButton {
  color: #5d5d5d;
  border: none;
  background-color: transparent;
  padding: 12px 8px;

  cursor: pointer;

  font-size: 15px;
  font-weight: 500;
  line-height: 12px;

  @media screen and (min-width: 744px) {
    font-size: 16px;
  }
}

.authButtonWraper {
  display: flex;
  flex-direction: column;
  gap: 16px;

  @media screen and (min-width: 744px) {
    gap: 24px;
  }
}

.forgotPassword {
  padding: 12px 8px;
  background-color: transparent;

  font-size: 15px;
  font-weight: 500;
  line-height: 12px;

  display: flex;
  width: fit-content;
  border: none;

  color: #5d5d5d;

  @media screen and (min-width: 744px) {
    font-size: 16px;
  }
}

.register_btn {
  background-color: #34955d;
  color: #ffffff;

  border: none;

  border-radius: 10px;
  width: 100%;
  padding: 18px;

  font-size: 16px;
  font-weight: 500;
  line-height: 12px;

  @media screen and (min-width: 744px) {
    font-size: 18px;

    padding: 26px;
  }

  cursor: pointer;

  transition: background-color ease-in-out 200ms;

  &:hover {
    background-color: #247749;
  }

  &:active {
    background-color: #1d5f3c;
  }

  &:disabled {
    background-color: #e7e7e7;
    color: #5d5d5d;
  }
}