.register_box {
  position: relative;

  &__close {
    display: none;

    @include on-desktop {
      display: flex;
      position: absolute;
      top: -30px;
      right: -30px;
      width: 24px;
      height: 24px;
      background-color: transparent;
      border: none;
      cursor: pointer;      
    }
  }
}

.icon_close {
  width: 12px;
  height: 12px;
  stroke: $light-grey-color;

  @include hover(stroke, $dark-color);
}

.modalTitle {
  color: $dark-color;
  font-size: 20px;
  font-weight: 500;
  line-height: 0.75;
  text-align: center;
  margin-bottom: 48px;

  @include on-desktop {
    font-size: 24px;
  }
}

.registerLabel {
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: $dark-color;
  font-size: 15px;
  font-weight: 500;
  line-height: 1.2;

  @include on-tablet {
    font-size: 16px;
    line-height: 1.19;
  }
}

.haveAccWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.registerForm {
  display: flex;
  flex-direction: column;
  min-width: 320px;

  @include on-tablet {
    width: 472px;
  }
}

.inputsWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 32px;

  @include on-tablet {
    gap: 24px;
    margin-bottom: 24px;
  }

  @include on-desktop {
    margin-bottom: 53px;
  }
}

.inputWrapper {
  border: 1.6px solid $grey-border-color;
  padding: 15px 16px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @include on-tablet {
    padding: 22px 16px;
  }
}

.registerInput {
  width: 100%;
  border: none;
  outline: none;
  padding: 0;
  color: $light-grey-color;
  font-size: 15px;
  font-weight: 500;
  line-height: 1.2;

  @include on-tablet {
    font-size: 16px;
  }
}

.iconPassword {
  width: 24px;
  height: 24px;
}

.haveAccText {
  color: $light-grey-color;
  font-size: 15px;
  font-weight: 500;
  line-height: 0.74;
}

.haveAccButton {
  color: $icon-grey-color;
  border: none;
  background-color: transparent;
  padding: 12px 8px;
  cursor: pointer;
  font-size: 15px;
  font-weight: 500;
  line-height: 0.8;

  @include on-tablet {
    font-size: 16px;
  }
}

.authButtonWraper {
  display: flex;
  flex-direction: column;
  gap: 16px;

  @include on-tablet {
    gap: 24px;
  }
}

.forgotPassword {
  padding: 12px 8px;
  background-color: transparent;
  font-size: 15px;
  font-weight: 500;
  line-height: 0.8;
  display: flex;
  width: fit-content;
  border: none;
  color: $icon-grey-color;

  @include on-tablet {
    font-size: 16px;
  }
}

.register_btn {
  background-color: $light-green-color;
  color: $white-color;
  border: none;
  border-radius: 10px;
  width: 100%;
  padding: 18px;
  font-size: 16px;
  font-weight: 500;
  line-height: 0.75;
  cursor: pointer;
  transition: background-color ease-in-out 200ms;

  @include on-tablet {
    font-size: 18px;
    padding: 26px;
  }

  &:hover {
    background-color: $hover-green-color;
  }

  &:active {
    background-color: $active-green-color;
  }

  &:disabled {
    background-color: $light-border-color;
    color: $icon-grey-color;
  }
}