@import "../node_modules/modern-normalize/modern-normalize.css";

.container {
  width: 100%;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;

  border: 1px solid red;

  @media (min-width: 768px) {
    width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }

  @media (min-width: 1920px) {
    width: 1920px;
    padding-left: 48px;
    padding-right: 48px;
  }
}

.sub-cat-img {
}

.sub-cat-img-wrapper {
  width: 244px;
  height: 258px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.sub-cat-item {
  padding: 20px;
  background-color: #ffffff;
  text-align: center;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sub-cat-list {
  display: flex;
  flex-wrap: wrap;
}

body {
  background-color: #fcfcfc;
  margin: 0;
  font-family: "Inter";
}

.sub-cat-title {
  font-size: 28px;
  font-weight: 600;
  line-height: 34px;
  color: #262626;
}

.sub-cat-text {
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  color: #3d3d3d;
}

.logo {
  width: 150px;
  height: 32px;
}

.category-logo {
  width: 24px;
  height: 24px;
}

.category-link {
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  color: #5d5d5d;

  display: flex;
  gap: 8px;

  padding: 12px 0;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
}

.category-list {
  display: flex;
  flex-direction: column;
  gap: 8px;

  padding: 0 24px;

  width: 153px;
}

.bg-image {
  width: 100%;
  height: 500px;
  border-radius: 20px;
  background-color: #8e8e8e33;
}

.footer {
  background-color: #153f2a;
}

section {
  padding: 64px 0;
}

/* ////////////////// */

.swiper-slide {
  width: auto;
}

.swiper-wrapper {
  margin-bottom: 20px;
}

.swiper__item {
  display: flex;
  flex-direction: column;
  width: 260px;
  padding: 20px 20px 24px 20px;
  gap: 12px;
  transition: box-shadow 500ms ease-out;
  border-radius: 20px;
}

.swiper__item:hover,
.swiper__item:focus {
  box-shadow: 0px 4px 8px 0px #16161633;
}

.swiper__weight_list {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.swiper__image_wrapper {
  max-width: 220px;
  height: 220px;
  overflow: hidden;
  position: relative;
}

.swiper__icon {
  stroke: #3786a5;

  width: 32px;
  height: 32px;
}

.button__add {
  background-color: #011240;
  color: #ffffff;

  font-size: 18px;
  font-weight: 500;
  line-height: 21px;

  padding: 8px 16px 8px 16px;
  border-radius: 20px;
  border: 1px transparent solid;
  transition: background-color 500ms ease-out;
}

.button__add:hover,
.button__add:focus {
  background-color: #3786a5;
}

.swiper__old_price {
  text-decoration: line-through;
}

.slider__button {
  background-color: #34955d;

  border-radius: 50%;
  padding: 12px;

  display: flex;
  border: none;
}

.slider__button .slider__icon {
  stroke: #ffffff;
}

.slider__button:disabled .slider__icon {
  stroke: #b0b0b0;
}

.slider__button:disabled {
  background-color: #e7e7e7;
}

.slider__buttons_wrapper {
  display: flex;
  gap: 12px;
  justify-items: center;
}

.slider__header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  justify-content: space-between;
}

.slider__header_title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  color: #011240;
}

.swiper__title {
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;

  color: #011240;
}

.swipper__description {
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;

  color: #161616;
}

.swiper__new_price {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  color: #3786a5;
}

.swiper__old_price {
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;

  color: #b2b2b2;
}

.swiper__price_wrapper {
  display: flex;
  align-items: center;
  gap: 8px;
}

.swiper__weight_item {
  padding-left: 12px;
  padding-right: 12px;
}

.swiper__weight_item:not(:last-child) {
  border-right: 1px solid #b2b2b266;
}

.swiper__weight_item:first-child {
  padding-left: 0;
}

.swiper__weight_item:last-child {
  padding-right: 0;
}

.swiper__weight_text {
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;

  border-bottom: 1px solid transparent;

  color: #161616;
}

.swiper__weight_able {
  color: #3786a5;
  border-bottom: 1px solid #3786a5;
  cursor: pointer;

  transition: border-color 300ms ease-out;
}

.swiper__weight_able:hover {
  border-color: transparent;
}

.swiper__descr_wrapper {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.heart__icon {
  width: 24px;
  height: 24px;
}

.slider__icon {
  width: 24px;
  height: 24px;
}

.show__all--icon {
  stroke: #5d5d5d;
  width: 24px;
  height: 24px;
}

.favorite-button {
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  background-color: #e7e7e780;
  border-radius: 50%;
  padding: 12px;
  border: none;
  outline: none;
}

.styled-link {
  display: flex;
  gap: 4px;
  align-items: center;
  justify-content: center;
}

.show__all--text {
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  color: #5d5d5d;
}

.sidebar__wrapper {
  padding: 64px 63px 0 0;
}

.main__container {
  width: 1584px;
}

.main__wrapper {
  display: flex;
  gap: 24px;
}

.header__container {
  display: flex;
  justify-content: space-between;

  padding-top: 25px;
  padding-bottom: 25px;
  align-items: center;
}

.icon__header {
  width: 24px;
  height: 24px;
}
.category__header--button {
  background-color: #e7e7e7;

  border: none;

  padding: 12px 18px;

  border-radius: 100px;

  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.header__btn--text {
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
  color: #5d5d5d;
}

.header__label {
  width: 1044px;
  border: 1px solid #d1d1d1;
  padding: 12px 18px;
  display: flex;
  border-radius: 100px;
  gap: 8px;
  align-items: center;
}

.header__input {
  border: none;
  outline: none;

  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
}

.search__section {
  display: flex;
  gap: 8px;
}

.phone__wrapper {
  display: flex;
  align-items: center;
  gap: 4px;
  margin-bottom: 4px;
}

.phone {
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  color: #5d5d5d;
}

.work_hours {
  font-size: 14px;
  font-weight: 500;
  line-height: 13px;
  color: #888888;
  text-align: center;
}

.user__button {
  border: none;
  background-color: transparent;
  padding: 12px;
  width: 48px;
  height: 48px;
}

.info__wrapper {
  display: flex;
  gap: 12px;
  align-items: center;
}

.logo__wrapper {
  width: 216px;
}
