@import "../node_modules/modern-normalize/modern-normalize.css";

@import "./scss/common";

.smallProductSlider .swiper-slide {
  border-radius: 20px;
  border: 2px solid $light-border-color;
}

.smallProductSlider .swiper-slide-thumb-active {
  border: 2px solid $light-green-color;
}

iframe {
  display: none;
}
