@import "../node_modules/modern-normalize/modern-normalize.css";

.container {
  width: 100%;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;

  border: 1px solid red;

  @media (min-width: 768px) {
    width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }

  @media (min-width: 1440px) {
    width: 1440px;
    padding-left: 100px;
    padding-right: 100px;
  }
}

.sub-cat-img {
}

.sub-cat-img-wrapper {
  width: 244px;
  height: 258px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.sub-cat-item {
  padding: 20px;
  background-color: #ffffff;
  text-align: center;
}

ul {
  list-style: none;
}

.sub-cat-list {
  display: flex;
  flex-wrap: wrap;
}

body {
  background-color: #fcfcfc;
  margin: 0;
  font-family: "Inter";
}

.sub-cat-title {
  font-size: 28px;
  font-weight: 600;
  line-height: 34px;
  color: #262626;
}

.sub-cat-text {
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  color: #3d3d3d;
}

.logo {
  width: 150px;
  height: 32px;
}

.category-logo {
  width: 24px;
  height: 24px;
}

.category-link {
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  color: #5d5d5d;

  display: flex;
  gap: 8px;

  padding: 14px 29px 14px 0;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
}

.category-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
