@import "./base/reset";
@import "./utils/visually-hiden";
@import "./utils/sections";
@import "./utils/swiper";
@import "./utils/slider";
@import "./utils/variables";
@import "./utils/mixins";

html {
  scroll-behavior: smooth;
}

body {
  background-color: $background-color;
  margin: 0;
  padding: 0;
  font-family: "Inter";
  min-width: 320px;
}

.container {
  min-width: $mobile-min-width;
  max-width: 430px;
  margin: 0 auto;
  padding: 0 8px;

  @include on-tablet {
    min-width: $tablet-min-width;
    max-width: 1024px;
  }

  @include on-desktop {
    padding-left: 48px;
    padding-right: 48px;
    min-width: $desktop-min-width;
    max-width: $desktop-max-width;
  }
}
