@import "./base/reset";
@import "./base/base";
@import "./utils/visually-hiden";
@import "./utils/container";
@import "./utils/sections";
@import "./utils/swiper";
@import "./utils/slider";

.register__form {
  display: flex;
  flex-direction: column;
}

.register__label {
  display: flex;
  flex-direction: column;
  gap: 10px;

  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  color: #262626;
}

.register__button {
  background-color: #34955d;
  color: #ffffff;

  font-size: 18px;
  font-weight: 500;
  line-height: 12px;

  border: none;
  padding: 26px;
  border-radius: 10px;

  margin-bottom: 24px;
}

.inputs__wrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 53px;
  width: 472px;
}

.input__wrapper {
  border: 1.6px solid #d1d1d1;
  padding: 22px 16px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.register__input {
  border: none;
  outline: none;
  padding: 0;

  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  color: #888888;
}

.modal__title {
  font-size: 24px;
  font-weight: 500;
  line-height: 17px;

  color: #262626;
}

.icon__password {
  width: 24px;
  height: 24px;
}

.icon__empty_cart {
  width: 24px;
  height: 24px;
}

.cart__wrapper {
  width: 836px;
  display: flex;
  flex-direction: column;
  gap: 194px;
}

.cart__title {
  font-size: 24px;
  font-weight: 600;
  line-height: 22px;
  color: #262626;
}

.empty__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.empty__text {
  font-size: 20px;
  font-weight: 500;
  line-height: 18px;
  color: #888888;
}

.empty__button {
  font-size: 16px;
  font-weight: 600;
  line-height: 12px;
  color: #5d5d5d;
  background-color: #e7e7e7;
  padding: 26px;
  border-radius: 10px;
  border: none;
}

.have__acc_text {
  font-size: 15px;
  font-weight: 500;
  line-height: 11px;
  color: #888888;
}

.have__acc_button {
  font-size: 16px;
  font-weight: 500;
  line-height: 12px;
  color: #5d5d5d;
  border: none;
  background-color: transparent;
  padding: 12px 10px;
}

.have__acc_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.main__image_wrapper {
  width: 516px;
  height: 516px;

  background-color: #f0c5c5;
  border: 1.5px solid #e7e7e7;
  border-radius: 20px;
}

.product__nav_buttons_list {
  display: flex;
  gap: 12px;
}

.product__nav_button {
  font-size: 15px;
  font-weight: 500;
  line-height: 11px;

  padding: 16px 24px;

  border: none;

  border-radius: 100px;
}

.product__nav_button_active {
  background-color: #34955d;
  color: #ffffff;
}

.product__nav_button_inactive {
  background-color: #e7e7e7;
  color: #5d5d5d;
}

.main_product_info_wrapper {
  display: flex;
  gap: 48px;
}

.product-page_title {
  font-size: 28px;
  font-weight: 600;
  line-height: 40px;
  color: #011240;
}

.procuct_code {
  font-size: 18px;
  font-weight: 500;
  line-height: 16px;
  color: #b0b0b0;
}

.is-available {
  font-size: 18px;
  font-weight: 500;
  line-height: 16px;
  color: #34955d;
}

.stock__icon {
  width: 24px;
  height: 24px;
  stroke: #34955d;
}

.in-stock__wrapper {
  display: flex;
  gap: 6px;
  align-items: center;
}

.product_page__price {
  font-size: 36px;
  font-weight: 700;
  line-height: 36px;

  color: #262626;
}

.product_page__price_symbol {
  font-size: 24px;
  line-height: 24px;
}

.to_cart__icon {
  width: 24px;
  height: 24px;
  stroke: #ffffff;
}

.to_wish__icon {
  width: 24px;
  height: 24px;
  stroke: #5d5d5d;
}

.add__button {
  padding: 15px 24px;

  font-size: 18px;
  font-weight: 500;
  line-height: 12px;

  border: none;

  border-radius: 100px;

  display: flex;
  align-items: center;
  gap: 8px;

  cursor: pointer;
}

.to_cart__button {
  background-color: #34955d;
  color: #ffffff;
}

.to_wish__button {
  background-color: #e7e7e7;
  color: #5d5d5d;
}

.add__button_wrapper {
  display: flex;
  gap: 8px;
}

.base_info__wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
