@import "../../scss/common";

.contactsWrapper {
  display: none;

  @include on-desktop {
    display: flex;
    align-items: center;
    gap: 4px;
    position: relative;
  }
}

.contactsText {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.19;
  color: $icon-grey-color;
}

.headerIcon {
  width: 24px;
  height: 24px;
  stroke: $icon-grey-color;
}

.icon__down__header {
  stroke: $icon-grey-color;
  transition: transform 300ms ease-in-out;
  cursor: pointer;
}

.contactsDropDownList {
  display: none;

  @include on-desktop {
    position: absolute;
    border-radius: 8px;
    border: 1.5px solid $light-border-color;
    background-color: $white-color;
    padding: 16px;
    display: flex;
    flex-direction: column;
    opacity: 0;
    pointer-events: none;
    transition: opacity 300ms ease-in-out;
  }
}

.contactLink {
  font-size: 16px;
  font-weight: 500;
  line-height: 0.75;

  color: $icon-grey-color;

  padding: 12px 8px;
}

.iconOpen {
  transform: rotate(180deg);
}

.contactsVisible {
  opacity: 1;
  pointer-events: all;
}
