.slider__header {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
  justify-content: space-between;
}

.slider__header_title {
  font-size: 28px;
  font-weight: 600;
  line-height: 33.89px;
  color: #3d3d3d;
}

.styled__link {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
  padding: 12px 8px;
}

.show__all_text {
  font-size: 16px;
  font-weight: 500;
  line-height: 19.36px;
  color: #5d5d5d;
}

.show__all_icon {
  stroke: #5d5d5d;
  width: 24px;
  height: 24px;
}
